$dark-blue: #262662;
$hurma: #FF8000;
$fancy: #D44B69;
$black-hole: #000000;
$ivory: #ECD5BB;
$fog-sky: #6a97de;
$snow: #ffffff;
$low: #F2F2F2;
$cloudly: #ced4da;
$smoke: #9a9a9a;
$darker: #343434;
$deep-blue: #22223E;

$primary: $dark-blue;
$secondary: $hurma;
$error: $fancy;
$warning: #ffcb11;
$success: #0a930a;
$info: $fog-sky;
$whatsapp: #25D366;
$instagram: #F00073;
$vk: #0077FF;