@import "../common/colors";
.ec-button {
  &._social {
    width: 30px;
    height: 30px;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &._whatsapp {
      background-color: #{$whatsapp};
    }

    &._instagram {
      background-color: #{$instagram};
    }

    &._vk {
      background-color: #{$snow};
    }
  }
}