@import "../custom/bootstrap/variables";
@import "../common/colors";
@import "../common/vars";

.ec-header {
  box-shadow: $ec-header-box-shadow;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: $snow;
  &__menu {
    &-toggler {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border-radius: $ec-border-radius;
      color: $primary;

      &.show {
        background-color: $deep-blue;
        color: $snow;
      }

      .bi {
        font-size: 1.3rem;
      }
    }
  }

  #cart-customlocation {
    position: relative;
    color: $black-hole;

  }

  .ec-cart-count {
    position: absolute;
    left: 5px;
    top: -10px;
    width: 20px;
    height: 20px;
    display: flex;
    background-color: $smoke;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    line-height: 1;
  }
}
